:root {
    --system-font: "Apple Color Emoji", "Segoe UI Variable Display", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", system-ui, sans-serif;
    --gradient: 230deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%;
    --accent-color: rgb(131,58,180);
    --accent-hover-color: rgb(183, 74, 255);
}

body {
    width: 100svw;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: hidden;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0px; left: 0px;
    background: var(--accent-color);
    background: -moz-linear-gradient(var(--gradient));
    background: -webkit-linear-gradient(var(--gradient));
    background: linear-gradient(var(--gradient));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    opacity: 0.5;
} @media (prefers-color-scheme: dark) {#background {opacity: 0.4;}}

#content {
    position: fixed;
    z-index: 3;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--system-font);
    max-width: 60vw;
    user-select: none;
}

#content h1 {
    margin-block-start: 0.33em;
    font-size: 3em;
}

#content p {
    font-size: 1.5em;
}

#content p a:link, #content p a:visited {
    color: var(--accent-hover-color);
}

#content p a:hover {
    text-decoration: none;
}

#company-name {
    font-size: 0.5em;
    margin: 0px;
}

#content a {
    border-radius: 15px;
}

#content button {
    border: none;
    border-radius: 15px;
    padding: 20px 35px;
    font-size: 1.15em;
    font-family: var(--system-font);
    background-color: var(--accent-color);
    transition: all 0.3s ease;
    color: white;
}

#content button:hover {
    background-color: var(--accent-hover-color);
    cursor: pointer;
}

#logo {
    width: 2rem;
    transform: translateY(7px) rotate(90deg);
    margin-right: 5px;
}

@media screen and (max-width: 925px) {
    #content button {
        padding: 10px 15px;
    }
}