:root {
    --background: #eeeeee;
    --main: black;

    --pri: #dddddd;
    --sec: #cccccc;
    --tri: #bbbbbb;
    --qua: #aaaaaa;

    --default-accent: #690D22;
    --sucess: darkgreen;
    --warn: goldenrod;
    --alert: darkred;
    --info: #0078D4;

    --link: var(--info);
    --accent-color: var(--default-accent);

    --default-transition: none;

    background: var(--background);
    color: var(--main);
}

@media (prefers-reduced-motion: no-preference) {
    --default-transition: all 0.1s ease-in-out;
}

@media screen and (prefers-color-scheme: dark) {
    --background: #111111;
    --main: white;

    --pri: #222222;
    --sec: #333333;
    --tri: #444444;
    --qua: #555555;

    --default-accent: #FF1010;
    --sucess: green;
    --warn: gold;
    --alert: red;
}

header, main, section, article, aside, footer {
    display: block;
}

header, footer {
    background: var(--pri);
}