html {
    width: 100%;
    height: 100%;
}

:root {
    --accent-color: #690d22;
    --accent-color-hover: #44000f;
    --accent-color-disabled: #490012;
    --accent-color-translucent: #690d2288;
    --system-color: var(--accent-color);
    --fonts: "SegUI", system-ui;
    cursor: url("https://cdn.croomssched.tech/cursors/light/arrow.png") 5 5, auto;
}

@font-face {
    font-family: "SegUI";
    src: url("/SegUIVar.woff2");
}

@font-face {
    font-family: "TorusNotched";
    src: url("/fonts/Torus.woff2");
}

@font-face {
    font-family: "GoogleEmoji";
    src: url("https://cdn.croomssched.tech/fonts/NotoColorEmoji.ttf");
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

body {
    font-family: var(--fonts);
    overflow-x: hidden;
    cursor: url("https://cdn.croomssched.tech/cursors/light/arrow.png") 5 5, auto;
}

.emoji {
    font-family: "GoogleEmoji", system-ui;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent-color);
}

a:link {
    text-decoration: underline;
    cursor: url("https://cdn.croomssched.tech/cursors/light/link.png") 5 5, pointer;
}

a:link:hover {
    text-decoration: none;
}

.links {
    text-decoration: underline;
    cursor: url("https://cdn.croomssched.tech/cursors/light/link.png") 5 5, pointer;
    color: var(--accent-color);
}

.links:hover {
    text-decoration: none;
}

.accordion {
    background-color: #dddddd;
    color: #000000;
    cursor: url("https://cdn.croomssched.tech/cursors/light/link.png") 5 5, pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #eeeeee;
}

.accordion.active {
    border-radius: 10px 10px 0 0;
    background-color: #dddddd;
}

.panel {
    padding: 0 18px;
    background-color: #eeeeee;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    border-radius: 0 0 10px 10px;
}

.panel h4 {
    margin: 0;
}

.border {
    border: 1px solid var(--accent-color);
}

td.border {
    color: var(--accent-color);
}

div.bordertxt td.bordertxt {
    border: 1px solid var(--accent-color);
}

.lunch {
    padding: 5px;
    border-radius: 10px;
}

.border.lunch {
    text-align: center;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
}

li.navbutton {
    float: left;
}

li.navbutton a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navbutton a:not(.active) {
    color: #000000;
}

li.navbutton a:hover:not(.active) {
    background-color: #cccccc;
    color: #000000;
}

li.navbutton a.nolink {
    border-right: 1px solid #222222;
}

li.navbutton a.nolink:hover:not(.active) {
    background-color: #dddddd;
}

a.active {
    background-color: var(--accent-color);
    color: #ffffff;
}

ul.footbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #dddddd;
    z-index: 7;
}

li.mininavbutton {
    float: left;
}

li.mininavbutton a {
    display: block;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.mininavbutton a:hover:not(.active) {
    background-color: #cccccc;
}

li.mininavbutton a.nolink:hover:not(.active) {
    background-color: #cccccc;
}

li.mininavbutton a.active {
    color: #ffffff;
}

input {
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    border: none;
    color: #000000;
    transition: all 0.3s ease;
    cursor: url("https://cdn.croomssched.tech/cursors/light/arrow.png") 5 5, auto;
}

input[type="button"], button {
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    border: none;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: url("https://cdn.croomssched.tech/cursors/light/arrow.png") 5 5, auto;
}

input[type="button"]:hover, button:hover {
    background-color: var(--accent-color-hover);
}

input[type="button"]:disabled, button:disabled {
    background-color: var(--accent-color-disabled);
}

.navbar-item.rainbow {
    animation: anim-rainbow 10s infinite;
}

.navbar-item.rainbow,
.navbar-item.rainbow:hover {
    border-bottom: none;
    clip-path: none;
    transition: transform .25s ease-in-out;
}

@keyframes anim-rainbow {
    0% {
        color: hsla(0deg 100% 50%);
    }
    16.67% {
        color: hsla(60deg 100% 50%);
    }
    33.33% {
        color: hsla(120deg 100% 50%);
    }
    50% {
        color: hsla(180deg 100% 50%);
    }
    66.67% {
        color: hsla(240deg 100% 50%);
    }
    83.33% {
        color: hsla(300deg 100% 50%);
    }
    100% {
        color: hsla(360deg 100% 50%);
    }
}

.alertbutton {
    animation: alert-rainbow 10s infinite;
    color: #FFFFFF;
    float: left;
}

li.alertbutton a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.alertbutton a:hover:not(.active) {
    background-color: #aa0000;
}

.alertbutton,
.alertbutton:hover {
    border-bottom: none;
    clip-path: none;
    transition: transform .25s ease-in-out;
}

@keyframes alert-rainbow {
    0% {
        background-color: rgb(220, 0, 0);
        color: #FFFFFF;
    }
    33.33% {
        background-color: rgb(200, 20, 20);
        color: #FFFFFF;
    }
    50% {
        background-color: rgb(150, 0, 0);
        color: #FFFFFF;
    }
    66.67% {
        background-color: rgb(200, 0, 0);
        color: #FFFFFF;
    }
    100% {
        background-color: rgb(220, 0, 0);
        color: #FFFFFF;
    }
}

div.shell-dialog {
    background-color: #cccccc;
    margin: 0;
    padding: 10px 10px;
    overflow: hidden;
    position: fixed;
    bottom: 37px;
    right: 0;
    width: 100px;
    z-index: 6;
}

div.shell-dialog h2, div.shell-dialog p {
    margin: 0;
    padding: 0;
}

div.top-shell-dialog {
    background-color: #cccccc;
    margin: 0;
    padding: 10px 10px;
    overflow: hidden;
    position: fixed;
    top: 49px;
    right: 0;
    width: 100px;
    z-index: 6;
}

div.top-shell-dialog h3, div.top-shell-dialog p {
    margin: 0;
    padding: 0;
}

div.copy-shell-dialog {
    background-color: #cccccc;
    margin: 0;
    padding: 10px 10px;
    overflow: hidden;
    position: fixed;
    bottom: 37px;
    left: 0;
    width: 100px;
    z-index: 6;
}

div.copy-shell-dialog h3, div.copy-shell-dialog h4, div.copy-shell-dialog p {
    margin: 0;
    padding: 0;
}

.news-shell-dialog {
    margin: 0;
    padding: 10px 10px;
    overflow: hidden;
    position: absolute;
    background-color: #cccccc;
    color: #000000;
    z-index: 7;
}

div.news-shell-dialog h3, div.news-shell-dialog h4, div.news-shell-dialog p {
    margin: 0;
    padding: 0;
}

input[type="text"], select {
    font-family: var(--fonts);
    border: 0;
    outline: 0;
    border-bottom: 2px solid lightgray;
    transition: all 0.3s ease;

}

input[type="text"]:hover, select:hover {
    border-bottom: 2px solid gray;
}

input[type="text"]:focus, select:focus {
    border-bottom: 2px solid var(--accent-color);
}

.active-container {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: #ffffff;
    user-select: none;
}

input[type="checkbox"], input[type="radio"], input[type="range"], progress {
    accent-color: var(--accent-color);
    transition: all 0.3s ease;
}

#feed li a:link, #feed li a:visited {
    color: #000000;
}

input, .accordion {
    font-family: var(--fonts);
}

h3.no-bottom {
    margin-bottom: 0;
}

h3, .border {
    user-select: none;
}

#random:hover:not(.noactive) {
    text-decoration: underline;
    cursor: url("https://cdn.croomssched.tech/cursors/light/link.png") 5 5, pointer;
}

#container {
    width: 90%;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#control-center {
    position: fixed;
    left: -500px;
    top: 49px;
    width: 480px;
    height: calc(100vh - 20px - 49px - 37px);
    background-color: #cccccc;
    padding: 10px;
    user-select: none;
    z-index: 7;
}

#control-center button {
    font-family: var(--fonts);
}

#control-center h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

#control-center h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

#control-center label {
    margin-left: 5px;
}

#control-center.active {
    left: 0;
}

.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #00000066;
}

.alert-box {
    font-size: 16px;
    width: 80vw;
    max-width: 25em;
    padding: 3em 1.8em;
    border-radius: 0.5em;
    box-shadow: 1.6em 2.2em 4em #00000080;
    background-color: #eeeeee;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 11;
}

window {
    position: absolute;
    z-index: 6;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    text-align: left;
    background-color: #eeeeee;
    max-width: 600px;
    min-width: 400px;
    box-shadow: 1.6em 2.2em 4em #00000080;
}

window[type=dialog] {
    max-width: 400px;
}

window header {
    border-radius: 10px 10px 0 0;
    padding: 10px;
    z-index: 6;
    background-color: var(--accent-color);
    color: #fff;
    user-select: none;
}

window header .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 14px;
    border-radius: 0 10px 0 0;
    transition: background-color 0.1s ease-in-out;
}

window header .close-button:hover {
    background-color: #ffffff22;
}

window main {
    margin: 8px;
    user-select: none;
}

window main p, window main h3 {
    margin: 0;
}

window footer {
    border-radius: 0 0 10px 10px;
    padding: 10px;
    z-index: 6;
    user-select: none;
    text-align: right;
    background-color: #dddddd;
}

window footer button {
    font-family: var(--fonts);
}

div#wapi-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#wapi-container h4, div#wapi-container h6, div#wapi-container p {
    margin: 0;
}

div#wapi-container img {
    border-radius: 10px;
    width: fit-content;
}

div#wapi-container p {
    display: none;
}

#forecast {
    text-align: center;
}

#forecast div {
    padding: 2px;
    text-align: center;
}

#alps-alert {
    background-color: #ca3036;
    color: #ffffff;
    padding: 5px 8px 8px 8px;
    user-select: none;
}

#alps-warn {
    background-color: #ffdc05;
    color: #000000;
    padding: 5px 8px 8px 8px;
    user-select: none;
}

#alps-info {
    background-color: #3630ca;
    color: #ffffff;
    padding: 5px 8px 8px 8px;
    user-select: none;
}

ul.winbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

context-menu, note {
    z-index: 4;
    width: max-content;
    position: absolute;
    border-radius: 10px;
    background-color: #dddddd;
    box-shadow: 0 2px 7px #cccccc;
    color: #000000;
    user-select: none;
    display: none;
}

note {
    position: fixed;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slidein-from-right {
    from {
        left: 110vw;
    }
    to {
        right: 10px;
    }
}

@keyframes slideout-to-right {
    from {
        right: 10px;
    }
    to {
        left: 110vw;
    }
}

menu-item {
    transition: all 0.3s ease;
    background-color: #dddddd;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

menu-item:hover {
    background-color: #cccccc;
}

menu-item i.fa-solid {
    margin-right: 8px;
}

@media (prefers-color-scheme: dark) {
    .alert-box {
        background-color: #111111;
        box-shadow: 1.6em 2.2em 4em rgba(50, 50, 50, 0.5);
    }
}

#feed ul li em {
    user-select: none;
    text-decoration: none;
}

#feed ul li em span {
    user-select: none;
    text-decoration: none;
    font-style: normal;
    font-family: GoogleEmoji, system-ui;
}

.loader {
    color: #000000;
}

#loader {
    font-size: 72px;
    width: 72px;
    height: 72px;
}

.lunch.border.active {
    background-color: var(--accent-color);
    color: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #ff1010;
        --accent-color-hover: #cd0505;
        --accent-color-disabled: #af0505;
        --accent-color-translucent: #ff101088;
        cursor: url("https://cdn.croomssched.tech/cursors/dark/arrow.png") 5 5, auto;
    }

    body {
        background-color: #000000;
        color: #ffffff;
        cursor: url("https://cdn.croomssched.tech/cursors/dark/arrow.png") 5 5, auto;
    }

    a:link {
        cursor: url("https://cdn.croomssched.tech/cursors/dark/link.cur") 11 7, pointer;
    }

    .links {
        cursor: url("https://cdn.croomssched.tech/cursors/dark/link.cur") 11 7, pointer;
    }

    #random:hover:not(.noactive) {
        cursor: url("https://cdn.croomssched.tech/cursors/dark/link.cur") 11 7, pointer;
    }

    .accordion {
        background-color: #222222;
        color: #ffffff;
        cursor: url("https://cdn.croomssched.tech/cursors/dark/link.cur") 11 7, pointer;
    }

    .accordion:hover {
        background-color: #111111;
    }

    .accordion.active:not(:hover) {
        background-color: #222222;
    }

    .panel {
        background-color: #111111;
    }

    ul.navbar {
        background-color: #222222;
    }

    li.navbutton a:not(.active) {
        color: #ffffff;
    }

    li.navbutton a:hover:not(.active) {
        background-color: #111111;
        color: #ffffff;
    }

    li.navbutton a.nolink {
        border-right: 1px solid #eeeeee;
    }

    li.navbutton a.nolink:hover:not(.active) {
        background-color: #222222;
    }

    a.active {
        color: #000000;
    }

    ul.footbar {
        background-color: #222222;
    }

    /* Change the link color to #111 (black) on hover */
    li.mininavbutton a:hover:not(.active) {
        background-color: #111111;
    }

    li.mininavbutton a.nolink:hover:not(.active) {
        background-color: #222222;
    }

    li.mininavbutton a.active {
        color: #000000;
    }

    input {
        color: #000000;
        cursor: url("https://cdn.croomssched.tech/cursors/dark/arrow.png") 5 5, auto;
    }

    input[type="button"] {
        color: #000000;
        cursor: url("https://cdn.croomssched.tech/cursors/dark/arrow.png") 5 5, auto;
    }

    label {
        cursor: url("https://cdn.croomssched.tech/cursors/dark/arrow.png") 5 5, auto;
    }

    button {
        color: #000000;
        cursor: url("https://cdn.croomssched.tech/cursors/dark/arrow.png") 5 5, auto;
    }

    div.shell-dialog {
        background-color: #222222;
    }

    div.top-shell-dialog {
        background-color: #222222;
    }

    div.copy-shell-dialog {
        background-color: #222222;
    }

    .news-shell-dialog {
        background-color: #222222;
        color: #ffffff;
    }

    #control-center {
        background-color: #222222;
    }

    input[type="text"], select {
        background-color: #000000;
        color: #ffffff;
        border-bottom: 2px solid lightgray;

    }

    input[type="text"]:hover, select:hover {
        border-bottom: 2px solid gray;
    }

    .active-container {
        color: #000000;
        user-select: none;
    }

    #feed li a:link, #feed li a:visited {
        color: #ffffff;
    }

    .loader {
        color: #ffffff;
    }

    ul.winbar {
        background-color: #222222;
    }

    context-menu, note {
        background-color: #222222;
        box-shadow: 0 2px 7px #333333;
        color: white;
    }

    menu-item {
        background-color: #222222;
    }

    menu-item:hover {
        background-color: #333333;
    }

    .lunch.border.active {
        color: black;
    }

    window {
        background-color: #222222;
        box-shadow: 1.6em 2.2em 4em rgba(50, 50, 50, 0.5);
    }

    window footer {
        background-color: #1d1d1d;
    }
}

/* CLIPPY! */
.clippy, .clippy-balloon {
    position: fixed;
    z-index: 5;
    cursor: url("https://cdn.croomssched.tech/cursors/light/link.png") 5 5, pointer;
}

.clippy-balloon {
    background: #FFC;
    color: black;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    user-select: none;
}

.clippy-content {
    user-select: none;
    max-width: 200px;
    min-width: 120px;
    font-family: "Microsoft Sans", sans-serif;
    font-size: 10pt;
}

.clippy-tip {
    width: 10px;
    height: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAgCAMAAAAlvKiEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF///MAAAA////52QwgAAAAAN0Uk5T//8A18oNQQAAAGxJREFUeNqs0kEOwCAIRFHn3//QTUU6xMyyxii+jQosrTPkyPEM6IN3FtzIRk1U4dFeKWQiH6pRRowMVKEmvronEynkwj0uZJgR22+YLopPSo9P34wJSamLSU7lSIWLJU7NkNomNlhqxUeAAQC+TQLZyEuJBwAAAABJRU5ErkJggg==) no-repeat;
    position: absolute;
}

.clippy-top-left .clippy-tip {
    top: 100%;
    margin-top: 0;
    left: 100%;
    margin-left: -50px;
}

.clippy-top-right .clippy-tip {
    top: 100%;
    margin-top: 0;
    left: 0;
    margin-left: 50px;
    background-position: -10px 0;

}

.clippy-bottom-right .clippy-tip {
    top: 0;
    margin-top: -16px;
    left: 0;
    margin-left: 50px;
    background-position: -10px -16px;
}

.clippy-bottom-left .clippy-tip {
    top: 0;
    margin-top: -16px;
    left: 100%;
    margin-left: -50px;
    background-position: 0 -16px;
}

@media screen and (prefers-color-scheme: dark) {
    .clippy, .clippy-balloon {
        cursor: url("https://cdn.croomssched.tech/cursors/dark/link.cur") 5 5, pointer;
    }
}