@import url("/styles/master.css");
@import url("/styles/color-settings-app.css");

*.no-color {
    color: var(--main);
}

div#header-logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
    background: #eeeeee;
    color: black;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#header-logo > img {
    width: 3.5rem;
    height: auto;
    margin-right: 1rem;
}

main {
    padding: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main > section {
    padding: 1rem 1rem 2.5rem;
}

main > section:last-child {
    padding: 1rem;
}

main > section > img {
    width: calc(100vw - 4rem);
    border-radius: 1rem;
}

main > section > h2 {
    padding-top: 1rem;
    text-align: center;
}

main > section p {
    margin-bottom: 0;
}

main > section > div > p:first-child {
    margin-top: 0;
}

main > section p .icon {
    display: inline-block;
    transform: translateY(20%);
}