:root {
    --system-font: "Apple Color Emoji", "Segoe UI Variable Display", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", system-ui, sans-serif;
    --accent-color: rgb(255, 218, 163); 
    --accent-hover-color: rgb(255, 197, 110);
}

body {
    width: 100svw;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: hidden;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0px; left: 0px;
    background: var(--accent-color);
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
} @media (prefers-color-scheme: dark) {#background {opacity: 0.5;}}

#content {
    position: fixed;
    z-index: 3;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--system-font);
    max-width: 80vw;
    user-select: none;
    text-align: center;
}

#content h1 {
    margin-block-start: 0.33em;
    font-size: 3em;
}

#content p {
    font-size: 1.5em;
}

#company-name {
    font-size: 0.5em;
    margin: 0px;
}

#content a {
    border-radius: 15px;
}

#content button {
    border: none;
    border-radius: 15px;
    padding: 20px 35px;
    font-size: 1.15em;
    font-family: var(--system-font);
    background-color: var(--accent-color);
    transition: all 0.3s ease;
    color: black;
}

#content button:hover {
    background-color: var(--accent-hover-color);
    cursor: pointer;
}

#logo {
    width: 2rem;
    transform: translateY(7px) rotate(90deg);
    margin-right: 5px;
}